ServiciosMunicipio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServiciosMunicipio/bin/**
ServiciosMunicipio/obj/Debug/**
ServiciosMunicipio/v16/**
ServiciosMunicipio.Tests/bin/**
ServiciosMunicipio.Tests/bin/Debug/ServiciosMunicipio.pdb
ServiciosMunicipio.Tests/bin/Debug/ServiciosMunicipio.Tests.dll
ServiciosMunicipio.Tests/bin/Debug/ServiciosMunicipio.Tests.pdb
ServiciosMunicipio.Tests/obj/Debug/ServiciosMunicipio.Tests.csproj.AssemblyReference.cache
ConsultaCatastralServicios/.vs/**
ConsultaCatastralServicios/.vs/ServiciosMunicipio/v16/.suo
ServiciosMunicipio.Tests/obj/Debug/ServiciosMunicipio.Tests.csproj.CopyComplete
ServiciosMunicipio.Tests/obj/Debug/ServiciosMunicipio.Tests.csproj.CoreCompileInputs.cache
ServiciosMunicipio.Tests/obj/Debug/ServiciosMunicipio.Tests.csproj.FileListAbsolute.txt
ServiciosMunicipio.Tests/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ServiciosMunicipio.Tests/obj/Debug/ServiciosMunicipio.Tests.csproj.FileListAbsolute.txt
ServiciosMunicipio.Tests/obj/Debug/ServiciosMunicipio.Tests.dll
ServiciosMunicipio.Tests/obj/Debug/ServiciosMunicipio.Tests.pdb
ServiciosMunicipio.Tests/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
