
<a class="navbar-brand" href="./">
    <img src="https://eservicios2.aguascalientes.gob.mx/portalgea/images/logo.svg?v=0.0.0" alt="" class="align-self-start logo-footer" style="padding-left: 1em;">
</a>
<!-- ******************************************************************************* -->
<div class="navbar-wrapper">
    <div class="navbar-top">
        <div class="sigod_infobar d-flex justify-content-end align-items-center">
            <div class="col d-none d-lg-block text-center">
                <h3 class="titulo_cabecera">Consulta Catastral</h3>
            </div>
            <a href="https://eservicios2.aguascalientes.gob.mx/DirectorioTelefonico/" class="sigod_link d-none d-lg-flex gap-2 align-items-center" style="margin-left: .5em;">
                <i class="fa fa-phone"></i>
                <span style="margin-right: 1em;">Directorio</span>
            </a>

            <a href="https://eservicios2.aguascalientes.gob.mx/servicios/buzon/correos.html" class="sigod_link d-none d-lg-flex gap-2 align-items-center">
                <img src="https://www.aguascalientes.gob.mx/img/redes/mail_icon.svg" alt="">
                <span>Contacto</span>
            </a>

            <div class="sigod_socialbar d-none d-lg-block">
                <a href="https://www.facebook.com/TereJimenezAgs">
                    <img src="https://www.aguascalientes.gob.mx/img/redes/facebook_icon.svg" alt="">
                </a>
                <a href="https://twitter.com/TereJimenezE">
                    <img src="https://www.aguascalientes.gob.mx/img/redes/x_icon.svg" alt="">
                </a>
                <a href="https://www.instagram.com/tere_jimenezags">
                    <img src="https://www.aguascalientes.gob.mx/img/redes/instagram_icon.svg" alt="">
                </a>
                <a href="https://www.youtube.com/channel/UCXYN6GZldIf5BmeI_HvBLwQ">
                    <img src="https://www.aguascalientes.gob.mx/img/redes/youtube_icon.svg" alt="">

                </a>
                <a href="https://wa.me/524494699898" target="_blank">
                    <img src="https://www.aguascalientes.gob.mx/img/Redes/whatsapp_icon.svg" alt="">

                </a>
                <a href="https://www.linkedin.com/company/gobags/?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3Bvr9uK0ATSVG%2F%2Brxw74xTVA%3D%3D" target="_blank">
                    <img src="https://www.aguascalientes.gob.mx/img/Redes/linkedin_icon.svg" alt="">

                </a>
                <a href="https://www.youtube.com/channel/UCXYN6GZldIf5BmeI_HvBLwQ" class="d-none">
                    <img src="https://www.aguascalientes.gob.mx/img/redes/youtube_icon.svg" alt="">

                </a>
            </div>
        </div>
    </div>
</div>


